* {
  box-sizing: border-box;
}

body {
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red
}

.container {
  max-width: 1440px;
  margin: 0  auto;
  border: 1px solid rgb(238, 255, 0)

}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: rgb(130, 176, 206);
   }

html {
  scroll-behavior: smooth; 
  border: 1px solid rgb(0, 255, 251)
}

.nav-link {
  padding: 42px;
  line-height: 50px;
  color: rgb(56, 43, 36);
}

img {
   border-radius: 10px;
   width: 220px;
   height: 270px;
   float: left;
   
}

.name {
  font-size: 60px;
  margin: 40px;
  
}

.FrontEnd {
  margin: 40px;
  font-size: 20px;
  
}

hr {
  color: rgb(130, 176, 206);
}

.main-left {
  width: 30%;
  float: left;
  border: 1px solid red
}

.main-right {
  width: 70%;
  float: right;
  border: 1px solid red
}
